<div class="header">
  <div class="logo">
    <img src="\assets\logo.png" alt="" />
  </div>
  <div class="options">
    <a href="/"
        href="#"
        class="header options-home"
        [ngClass]="this.router.url !== '/favorites'  ? 'active' : 'disabled'"
      >
        <span class="material-icons">home</span>
        <span class="options-label">Ínicio</span>
    </a>

    <a
        class="header options-favorites"
        href="favorites"
        [ngClass]="this.router.url === '/favorites' ? 'active' : 'disabled'"
      >
        <span class="material-icons">
          favorite
        </span>
        <span class="options-label">Favoritos</span>
        <div class="options-number">0</div>
    </a>
  </div>
</div>
